<header id="header">
  <div class="container">
    <a href="\app\dashboard" class="btn-link btn-default">
      <h1>Docfy</h1>
    </a>
    <div class="user-info">
      <p class="welcome">
        Bem vindo<br>
        <strong>{{ userName }}</strong>
      </p>
      <a href="/signout" class="btn btn-danger">
        <img src="/img/signout.svg">
      </a>
    </div>
  </div>
</header>
